<div class="flex w-full fixed bg-white shadow-sm top-0 p-4">
    <div class="w-1/2">
        <button class="focus:outline-none p-2 pr-4 pl-4 mr-2 bg-gray-900 text-white font-semibold" (click)="logout()">
            <fa-icon [icon]="faSignOutAlt" class="cursor-pointer"></fa-icon>
        </button>
        <button class="focus:outline-none p-2 pr-4 pl-4 bg-gray-900 text-white font-semibold">Total ({{count}})</button>
    </div>
    <div class="w-1/2">
        <input class="mt-2 p-2 pr-4 pl-4 bg-gray-900 text-white font-semibold focus:outline-none w-full" type="text" #searchbox placeholder="SEARCH"/>
    </div>
    <div class="w-1/2 flex justify-end">
        
        <button *ngIf="searchbox.value.length" class="focus:outline-none p-2 pr-4 pl-4 bg-gray-900 text-white font-semibold" (click)="clearSearchBox()">
            <fa-icon [icon]="faWindowClose" class="cursor-pointer"></fa-icon> Clear Search
        </button>

        <button *ngIf="!searchbox.value.length" class="focus:outline-none p-2 pr-4 pl-4 bg-gray-900 text-white font-semibold" (click)="previousPage()">
            <fa-icon [icon]="faArrowLeft" class="cursor-pointer"></fa-icon>
        </button>
        <div *ngIf="!searchbox.value.length" class="pt-2">&nbsp; Page {{page}} of {{numberOfPages}} &nbsp;</div>
        <button *ngIf="!searchbox.value.length"  class="focus:outline-none p-2 pr-4 pl-4 bg-gray-900 text-white font-semibold" (click)="nextPage()">
            <fa-icon [icon]="faArrowRight" class="cursor-pointer"></fa-icon>
        </button>
    </div>
</div>
<!-- <div class="w-full text-center mt-8">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div> -->
<div class=" w-full pt-20"></div>
<table class="table-auto border-2 w-full mt-2">
    <thead>
        <tr>
            <th class="px-4 py-2">Full Name</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Mobile</th>
            <th class="px-4 py-2">Nationality</th>
            <th class="px-4 py-2">Code</th>
            <th class="px-4 py-2">Date</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let user of users | paginate: { itemsPerPage: 14, currentPage: page }" class="text-center"> -->

        <tr *ngFor="let user of users | filter:searchword" class="text-center">
            <td class="px-4 py-2">{{user.fullname}}</td>
            <td class="px-4 py-2">{{user.email}}</td>
            <td class="px-4 py-2">{{user.mobile}}</td>
            <td class="px-4 py-2">{{user.nationality}}</td>
            <td class="px-4 py-2">{{user.randomStr}}</td>
            <td class="px-4 py-2">{{user.created | date: "dd/MM/yyyy"}}</td>
        </tr>
        <!-- <tr>
           <td colspan="6" *ngIf="(users | filter:searchword).length === 0">
               <p class="text-gray-600 text-2xl text-center">No user has been found!</p>
           </td> 
        </tr> -->
    </tbody>
</table>