<div class="flex flex-col items-center justify-center h-screen">
    <img class="mb-4" src="../../assets/logo_admin.png" />
    <h1 *ngIf="error" class=" font-semibold text-2xl text-red-900">Access denied</h1>
    <form class="mt-4" #login="ngForm" (ngSubmit)="onSubmit(login)" class="w-64">
        <div class="w-full">
            <input class="w-full border-2 border-gray-900 m-1 p-2" type="text" name="email" placeholder="Email" ngModel required/>
        </div>
        <div class="w-full">
            <input class="w-full border-2 border-gray-900 m-1 p-2" type="password" name="password" placeholder="Password" ngModel required/>
        </div>
        <div class="w-full">
            <input type="submit" value="Login" [disabled]="!login.valid"
                class="cursor-pointer hover:text-gray-900 hover:bg-white text-white bg-gray-900 border-gray-900 border-2 m-1 w-full p-2"
            />
        </div>
    </form>
</div>